.storyWrapper {
  height: 100vh;
  display: grid;
  height: 200px;
  align-content: space-evenly;
  justify-content: center;
  align-items: stretch;
  margin-top: 300px;
}

.forkWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  height: 30px;
}

.storyWords {
  width: 450px;
}

.forkButton {
  animation: fadeIn 4s;
}